@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}
body{
   background-image: url(Image/background_img.jpg);
   background-size:cover;

}
.container{
   height: 100vh;
   width:100px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
}

.container .content{
   text-align: center;
}

.container .content h3{
   font-size: 30px;
   color:#333;
}

.container .content h3 span{
   background: crimson;
   color:#fff;
   border-radius: 5px;
   padding:0 15px;
}

.container .content h1{
   font-size: 50px;
   color:#333;
}

.container .content h1 span{
   color:crimson;
}

.container .content p{
   font-size: 25px;
   margin-bottom: 20px;
}

.container .content .btn{
   display: inline-block;
   padding:10px 30px;
   font-size: 20px;
   background: #333;
   color:#fff;
   margin:0 5px;
   text-transform: capitalize;
}

.container .content .btn:hover{
   background: crimson;
}

.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
}

.form-container form{
   padding:20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   background: rgb(255, 255, 255);
   text-align: center;
   width: 500px;
}

.form-container form h3{
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color:#333;
}

.form-container form input,
.form-container form select{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: #eee;
   border-radius: 5px;
}

.form-container form select option{
   background: #fff;
}

.form-container form .form-btn{
   background: #fbd0d9;
   color:crimson;
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}

.form-container form .form-btn:hover{
   background: crimson;
   color:#fff;
}

.form-container form p{
   margin-top: 10px;
   font-size: 20px;
   color:#333;
}

.form-container form p a{
   color:crimson;
}

.form-container form .error-msg{
   margin:10px 0;
   display: block;
   background: crimson;
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
}
*,
*:after,
*:before{
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: #000021;
    font-size: 28px;
    background-color: #e6e6ef;
}

.container-btn{
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000021;
    justify-content: center;
}
.dot {
   position: relative;
   cursor: pointer;
   top: -130px;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: rgb(54, 17, 220);
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
 }
input[type="button"],input[type="submit"],li.parallelogram{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.radio {
   font-size:24px;
   font-weight:500;
   text-transform:capitalize;
   display:inline-block;
   vertical-align: middle;
   color:#fff;
}
.radio + .radio {
margin-left: 20px;
}

input[type="radio"]{
    display: none;
}
.radio span {
height:20px;
width:20px;
border-radius: 50%;
border: 3px solid #00aeef;
display:block;
position : absolute;
left:0;
top:7px;
}

.radio span :after{
content:"";
height:8px;
width:8px;
background:#00aeef;
display:block;
position : absolute;
left:50%;
top:50%;
transform: translate(-50%,-50%)scale(0);
border-radius :50%;
transition:300ms ease-in-out 0s;

}
label{

    display: block;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 10px;
}

label span{
    display: inline-flex;
    align-items: center;
    padding: 10px 20px 10px 10px;
    border-radius: 31px;
    transition: .25s ease;
}

label span:hover,
input[type="radio"]:checked + span:before{
    background-color: #1616e7;
}

label span:before{
    content: "";
    background-color: #fff;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 10px;
    transition: .25s ease;
    box-shadow:  inset 0 0 0 2px #00005c;
}

input[type="radio"]:checked + span:after{
    box-shadow: inset 0 0 0 10px #c88231;
}

.container-details {
   width: 100%;
   display: flex;
   
   flex-direction: column;
   justify-content: center;
 }
 
 table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}
table td {
	padding: 15px;
}
table thead td {
	background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
}
table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr {
	background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}


 
 